.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6.563rem;
}
/* hero section */
.hero__titleContainer {
  padding: 2.688rem 7.563rem 0 0;
}
.hero__title {
  margin: 0 0 0.75rem 0;
}
.hero__subtitle {
  margin: 0 0 2rem 0;
  font-weight: var(--body-highlight-font-weight);
}

/* adress section */

.adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10.188rem;
  margin-bottom: 4.5rem;
}
.adress__title {
  margin-bottom: 2.5rem;
}
.adress__caroussel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7.125rem;
}
.adress__info {
  margin: 0.5rem 0 0 0;
}

/* about section */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.25rem;
}
.about__title {
  margin-bottom: 1.25rem;
}
.about__text {
  width: 72.375rem;
}

/* socialMedia section */

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.socialMedia__title {
  margin-bottom: 2.5rem;
}
.socialMedia__caroussel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.375rem;
}

/* responsive design */
@media (max-width: 768px) {
  /* hero section */
  .hero {
    flex-direction: column;
    align-items: center;
    margin-top: 2.438rem;
  }
  .hero__titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 4.5rem;
  }
  .hero__title {
    margin: 0 0 0.75rem 0;
  }
  .hero__subtitle {
    margin: 0 0 1rem 0;
  }
  .hero__icon {
    width: 14.5rem;
    height: 14.5rem;
  }
  @media (max-width: 375px) {
    .hero__subtitle {
      width: 60%;
      text-align: center;
    }
  }

  /* adress section */
  .adress {
    margin-top: 4.5rem;
    margin-bottom: 4.25rem;
  }
  .adress__title {
    margin-bottom: 3.125rem;
  }
  .adress__caroussel {
    grid-template-columns: 1fr;
    gap: 2.625rem;
  }

  /* about section */

  .about {
    margin-top: 2rem;
  }
  .about__title {
    margin-bottom: 1.188rem;
  }
  .about__text {
    width: 65%;
    text-align: center;
  }
  /* socialMedia section */

  .socialMedia {
    margin-top: 2rem;
    margin-bottom: 4.5rem;
  }
  .socialMedia__title {
    margin-bottom: 2.25rem;
  }
  .socialMedia__caroussel {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  @media (min-width: 740px) {
    .socialMedia__caroussel {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}
