.cta {
  display: inline-block;
  padding: 0.813rem 2.938rem;
  color: var(--white);
  background-color: var(--black);
  font-family: var(--title-font);
  font-weight: var(-title-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  text-decoration: none;
}

.cta:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.188rem;
}
